server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    compatibility-verifier:
      enabled: false

    gateway:
      routes:
        - id: wellness-resource-service
          uri: http://wellness-resource-service:8081
          predicates:
            - Path=/api/resources/**

        - id: goal-tracking-service
          uri: http://goal-tracking-service:8082
          predicates:
            - Path=/api/goals/**

        - id: event-service
          uri: http://event-service:8083
          predicates:
            - Path=/api/events/**

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8090/realms/wellness-hub}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://localhost:8090/realms/wellness-hub/protocol/openid-connect/certs}


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web.reactive: DEBUG
