server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    compatibility-verifier:
      enabled: false  # Disable Spring Cloud version check

    gateway:
      routes:
        - id: wellness-resource-service
          uri: http://wellness-resource-service:8081
          predicates:
            - Path=/api/resources/**

        - id: goal-tracking-service
          uri: http://goal-tracking-service:8082
          predicates:
            - Path=/api/goals/**

        - id: event-service
          uri: http://event-service:8083
          predicates:
            - Path=/api/events/**

      default-filters:
        - TokenRelay

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/wellness-hub
          jwk-set-uri: http://keycloak:8080/realms/wellness-hub/protocol/openid-connect/certs

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG